<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Accueil Foodtech</title>
</head>

<body>
    <h1>Dans ma rue</h1>
    <div class="container">
        <ul class="tabs">
            <li class="tab-link current" data-tab="tab-1">Présentation</li>
            <li class="tab-link" data-tab="tab-2">Menu</li>
            <li class="tab-link" data-tab="tab-3">Contact</li>
        </ul>
        <div id="tab-1" class="tab-content current">
            <p>Browse our selection on the menu tab, pick some of our delicious meals, order it and you're set for an amazing moment!</p>
        </div>
        <div id="tab-2" class="tab-content">
            <p>Menu du jour
                <br />- Tapenade d'olives noires
                <br />- Souris d'agneau </p>
        </div>
        <div id="tab-3" class="tab-content">
            <p>19 rue Broca
                <br /> 31200 Toulouse
                <br /> 05 61 98 56 68</p>
        </div>
    </div>
</body>

</html>